.main {
  flex-grow: 1;
}

.main__name {
  color: #000;
}

.main__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 32px;
}

.main__showmore-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.main__showmore-btn {
  border: none;
  border-radius: 100px;
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  font-family: "Inter ExtraBold";
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main__showmore-btn:hover {
  background-color: #333;
}
